
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" type="text/css" href="../../Content/login_style.css">
    <title>Forget password</title>
</head>
<body>
    <div class="Login">
        <div id="logo">
            <img src="../../Content/images/logo-vertical.png" />
        </div>

        <div id="errorText">
            The email adress you entered is not registered.
        </div>

        <div id="helpText">
            If you can't access Asignar, fill in this form and an email will be <br />
            sent to you with the details to access your account again.
        </div>

        <form class="loginForm">

            <input type="text" name="email" placeholder="Email" /> <br />
            <input type="submit" value="Send" />


            <a href="#" id="hrefToLogin">Login</a>

        </form>
    </div>
</body>
</html>
