
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" type="text/css" href="../../Content/login_style.css">
    <title>Login</title>
</head>
<body>
    <div class="Login">
        <div id="logo">
            <img src="../../Content/images/logo-vertical.png" />
        </div>
        <div id="errorText">
            Sorry, your email or password are incorrect. Please try again.
        </div>
        <form class="loginForm">

            <input type="text" name="email" placeholder="Email" /> <br />
            <input type="password" name="password" placeholder="Password" />
            <input type="checkbox" name="RemebmerMe" />
            <span id="RememberMe">Remember me</span>
            <a id="ForgotPass" href="#">Forgot password</a>
            <input type="submit" value="Login" />
        </form>
    </div>
</body>
</html>
