
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" type="text/css" href="../../Content/login_style.css">
    <title>Reset password</title>
</head>
<body>
    <div class="Login">
        <div id="logo">
            <img src="../../Content/images/logo-vertical.png" />
        </div>

        <div id="resetPasswordFreeSpace">
        </div>

        <form class="loginForm">

            <input type="password" name="pass" placeholder="Password"/> <br/>
            <input type="password" name="confirmPass" placeholder="Confirmation password" /> 
            <input type="submit" value="Reset password" />


            <a href="#" id="hrefToLogin">Login</a>

        </form>
    </div>
</body>
</html>
