body {
    background-color: #F8FEFE;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


/*Header*/
nav {
    height: 40px;
    background-color: #4D868D;
    padding: 0 30px 0 30px;
}

.navbar-header {
    padding: 0 35px 0 10px;
    height: 40px;
}

nav {
    height: 40px;
    padding: 0;
}

.menu {
    list-style-type: none;
    height: 40px;
    padding: 0;
    display: block;
    margin: 0;
}

    .menu li {
        display: inline-block;
        padding: 10px 20px 4px 20px;
        min-height: 40px;
    }

        .menu li:hover {
            background-color: #92C1BA;
        }

        .menu li a {
            font-size: 16px;
            color: white;
            min-height: 40px;
            text-decoration: none;
        }

.btn-header {
    height: 30px;
    border-radius: 0 !important;
    background: #92C1BA;
    color: white;
    margin: 3px;
}

    .btn-header:hover {
        color: white !important;
    }

.nav-search {
    background-color: #4D868D;
    border-color: white;
    border-radius: 0;
}

.userProfile {
    background-color: #92C1BA;
    color: white;
}

    .userProfile:hover {
        color: white;
        background-color: #ABCFCA !important;
    }

#createTaskButtonCol {
    display: none;
}


@media only screen and (max-width : 767px) {
    .div-col {
        width: 100% !important;
        background-color: #4D868D;
        margin-top: -5px;
        min-height: 180px;
    }


    .li-mobile {
        display: block !important;
        text-align: center;
    }

    .container-fluid {
        width: 100%;
    }

    spanColor {
        background-color: #92C1BA !important;
    }

    #search {
        display: none;
    }

    #userDrop {
        display: none;
    }

    #taskButton {
        display: none;
    }
}

@media only screen and (min-width : 768px) {
    #liSearch {
        display: none;
    }

    #liTask {
        display: none;
    }

    #userCol {
        display: none;
    }
}
/*Header end*/

/*Dashboard*/
body {
}

.projectDiv {
    height: 130px;
    background-color: white;
    margin-bottom: 20px;
    width: 80%;
    padding: 12px;
}

.element {
    background: white;
    border: 2px solid rgba(235, 239, 239, .8);
    box-shadow: -2px 0 2px rgba(0,0,0,0.5);
    cursor: pointer;
    font-size: 12px;
}

    .element:hover {
        border: 2px solid #94B5B9;
    }

.pagination > li > a {
    background-color: transparent;
    border: none;
}

    .pagination > li > a:hover,
    .pagination > li > a:focus, a.active {
        background-color: transparent;
        color: #4D868D;
    }

.table tr, .table td {
    border-top: 100px !important;
}


/*--General--*/
#UniversalTable {
    border: 1px solid #E1E2E2;
    background: white;
}

.TableRowInfo {
    cursor: pointer;
    border-bottom: 1px solid #E1E2E2;
    margin: 0 auto;
    padding: 15px 0 10px 15px;
    width: 95%;
}

    .TableRowInfo:first-child {
        padding: 25px 0 10px 15px;
    }

    .TableRowInfo:last-child {
        border: none;
        padding: 15px 0 20px 15px;
    }


.BugStatus {
    padding: 1px 10px;
    margin-left: 5px;
    border-radius: 5px;
}

.ToDo {
    border: 1px solid #4D868D;
    color: #4D868D;
}

.InTesting, .InProgress {
    border: 1px solid #F7A820;
    color: #F7A820;
}

.Closed, .Done {
    border: 1px solid #6AC23F;
    color: #6AC23F;
}
