<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Bootstrap 101 Template</title>

    <!-- Bootstrap -->
    <link href="/Content/bootstrap.min.css" rel="stylesheet" />

    <link href="/Content/Site.css" rel="stylesheet" />


</head>
<body>
    <div class="col-lg-12" style="padding: 0 50px 0 50px; height:auto;">
        <div class="col-lg-3" style="padding: 0;">
            <h2 style="margin-bottom: 48px;">
                <b>My projects</b>
            </h2>
            <div class="container col-lg-12 projectDiv element">
                <h4 style="margin: 0;">The Financier</h4>
                <h5>TDF</h5>
                <i class="fa fa-users" style="padding-top:24px; padding-right:10px; float:right; font-size:18px; color:darkgray" aria-hidden="true"><span style="font-size:15px; padding-left:5px;">6</span></i>
                <i class="fa fa-pencil-square-o" style="padding: 20px 10px 0px 0px; float:right; font-size:24px; color:darkgray" aria-hidden="true"><span style="font-size:15px; padding-left:5px;">127</span></i>
            </div>
            <div class="container col-lg-12 projectDiv element">
                <h4 style="margin: 0;">The Titan</h4>
                <h5>DDT</h5>
                <i class="fa fa-users" style="padding-top:24px; padding-right:10px; float:right; font-size:18px; color:darkgray" aria-hidden="true"><span style="font-size:15px; padding-left:5px;">6</span></i>
                <i class="fa fa-pencil-square-o" style="padding: 20px 10px 0px 0px; float:right; font-size:24px; color:darkgray" aria-hidden="true"><span style="font-size:15px; padding-left:5px;">127</span></i>
            </div>
            <div class="container col-lg-12 projectDiv element">
                <h4 style="margin: 0;">The Stoic</h4>
                <h5>TDS</h5>
                <i class="fa fa-users" style="padding-top:24px; padding-right:10px; float:right; font-size:18px; color:darkgray" aria-hidden="true"><span style="font-size:15px; padding-left:5px;">6</span></i>
                <i class="fa fa-pencil-square-o" style="padding: 20px 10px 0px 0px; float:right; font-size:24px; color:darkgray" aria-hidden="true"><span style="font-size:15px; padding-left:5px;">127</span></i>
            </div>
            <div class="container col-lg-12">
                <a href="#" style="color:cornflowerblue; text-decoration:underline;">Show all<i class="fa fa-long-arrow-right" aria-hidden="true" style="color:cornflowerblue; padding-left:10px;"></i></a>
            </div>
        </div>
        <div class="col-lg-7 col-lg-offset-1">
            <h2>
                <b>Assigned to me</b>
            </h2>
            <div class="col-xs-12">
                <nav style="float: right; background-color:transparent; margin-top: -20px; margin-bottom:20px;">
                    <ul class="pagination pagination-sm" style="border: 0; background-color: transparent;">
                        <li><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                    </ul>
                </nav>
            </div>


            <div class="col-lg-12" style="padding: 0;background-color:white; border:5px; border-radius: 5px;">

                <div id="Table" class="marginFromMenu" style="border: 1px solid #E1E2E2; background: white;  ">

                    <div class="Element" style="border-bottom: 1px solid #E1E2E2; padding: 25px 0 10px 15px; width: 95%; margin: 0 auto; ">
                        <div class="IconElement pull-left padding0" style="margin-right:30px;">
                            <img src="~/Content/Images/PriorityMinor.png" class="img-priority img-responsive">
                        </div>
                        <div class="ProjectInfo">
                            <div class="ProjectPrefix">
                                TDF-123
                                <span class="Status" style="border: 1px solid #4D868D; color: #4D868D; padding: 1px 10px; margin-left: 5px; border-radius: 5px; ">
                                    To do
                                </span>
                            </div>
                            <div class="ElementText">
                                The error message is displayed after tapping on the 'Get Link' button on the volume's 'Information' screen
                            </div>
                        </div>
                    </div>

                    <div class="Element " style="border-bottom: 1px solid #E1E2E2; padding: 25px 0 10px 15px; width: 95%; margin: 0 auto; ">
                        <div class="IconElement pull-left padding0" style="margin-right:30px;">
                            <img src="~/Content/Images/PriorityMinor.png" class="img-priority img-responsive">
                        </div>
                        <div class="ProjectInfo">
                            <div class="ProjectPrefix">
                                TDF-123
                                <span class="Status" style="border: 1px solid #4D868D; color: #4D868D; padding: 1px 10px; margin-left: 5px; border-radius: 5px; ">
                                    To do
                                </span>
                            </div>
                            <div class="ElementText">
                                The error message is displayed after tapping on the 'Get Link' button on the volume's 'Information' screen
                            </div>
                        </div>
                    </div>

                    <div class="Element " style="border-bottom: 1px solid #E1E2E2; padding: 25px 0 10px 15px; width: 95%; margin: 0 auto; ">
                        <div class="IconElement pull-left padding0" style="margin-right:30px;">
                            <img src="~/Content/Images/PriorityMinor.png" class="img-priority img-responsive">
                        </div>
                        <div class="ProjectInfo">
                            <div class="ProjectPrefix">
                                TDF-123
                                <span class="Status" style="border: 1px solid #4D868D; color: #4D868D; padding: 1px 10px; margin-left: 5px; border-radius: 5px; ">
                                    To do
                                </span>
                            </div>
                            <div class="ElementText">
                                The error message is displayed after tapping on the 'Get Link' button on the volume's 'Information' screen
                            </div>
                        </div>
                    </div>

                    <div class="Element " style="border-bottom: 1px solid #E1E2E2; padding: 25px 0 10px 15px; width: 95%; margin: 0 auto; ">
                        <div class="IconElement pull-left padding0" style="margin-right:30px;">
                            <img src="~/Content/Images/PriorityMinor.png" class="img-priority img-responsive">
                        </div>
                        <div class="ProjectInfo">
                            <div class="ProjectPrefix">
                                TDF-123
                                <span class="Status" style="border: 1px solid #4D868D; color: #4D868D; padding: 1px 10px; margin-left: 5px; border-radius: 5px; ">
                                    To do
                                </span>
                            </div>
                            <div class="ElementText">
                                The error message is displayed after tapping on the 'Get Link' button on the volume's 'Information' screen
                            </div>
                        </div>
                    </div>

                    <div class="Element " style="border-bottom: 1px solid #E1E2E2; padding: 25px 0 10px 15px; width: 95%; margin: 0 auto; ">
                        <div class="IconElement pull-left padding0" style="margin-right:30px;">
                            <img src="~/Content/Images/PriorityMinor.png" class="img-priority img-responsive">
                        </div>
                        <div class="ProjectInfo">
                            <div class="ProjectPrefix">
                                TDF-123
                                <span class="Status" style="border: 1px solid #4D868D; color: #4D868D; padding: 1px 10px; margin-left: 5px; border-radius: 5px; ">
                                    To do
                                </span>
                            </div>
                            <div class="ElementText">
                                The error message is displayed after tapping on the 'Get Link' button on the volume's 'Information' screen
                            </div>
                        </div>
                    </div>

                    <div class="Element " style=" padding: 25px 0 25px 15px; width: 95%; margin: 0 auto; ">
                        <div class="IconElement pull-left padding0" style="margin-right:30px;">
                            <img src="~/Content/Images/PriorityMinor.png" class="img-priority img-responsive">
                        </div>
                        <div class="ProjectInfo">
                            <div class="ProjectPrefix">
                                TDF-123
                                <span class="Status" style="border: 1px solid #4D868D; color: #4D868D; padding: 1px 10px; margin-left: 5px; border-radius: 5px; ">
                                    To do
                                </span>
                            </div>
                            <div class="ElementText">
                                The error message is displayed after tapping on the 'Get Link' button on the volume's 'Information' screen
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>

</body>
</html>