body{
	background-image:url(../images/bgs.spng);
}

/* HEADER */
#header{
	position:fixed;
	background-color:black;
	color:white;
	height:20px;
	top:0;
	left:20%;
	width:60%;
	height:auto;
	z-index:1;
	vertical-align:bottom;
}
/* END HEADER */


/* WRAPPER */
#wrapper{
	
	padding: 50px 150px;
}

#Rolls div {
	
}

#firstPartWrapper{

	text-align:center;
}

#secondPartWrapper{
	position:relative;
}
/* END WRAPPER */

#footer{
	bottom:0;
	height:75px;
	background-color:black;
	font-size:40px;
	text-align:center;
	color:white;
}
