@{
    ViewBag.Title = "Home Page";
}


    <!-- HEADER-->
    @*<div id="header" class="row">
        <div id="logo" class="col-lg-3 col-md-3">
            <img src="~/Content/images/logo.jpeg">
        </div>
        <div class="menu col-lg-6 col-md-6 col-sm-6">
            <div class="col-lg-4 col-md-4">Меню</div>
            <div class="col-lg-4 col-md-4">Заказ</div>
            <div class="col-lg-4 col-md-4">Контакты</div>
        </div>
        <div class="search col-lg-3 col-md-3 col-sm-3">Поиск</div>
    </div>*@
    <!-- END HEADER-->
    <!-- WRAPPER-->
    <div id="wrapper">
        <div id="firstPartWrapper">
            <h3>Меню</h3>
            <p>

                Суши, роллы, нигири и сеты готовятся профессионалами и только из свежих продуктов. Только у нас вы найдете <br>
                такое сочетание мастерства приготовления, скорости доставки и умеренности оплаты.
            </p>
        </div>

        <div id="secondPartWrapper">
            <div id="Rolls" class="row">
                <h5>Суши</h5>

                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <div>
                        <h5>Эби Маки</h5>
                        <img src="~/Content/images/1.jpeg" class="img-responsive">
                        <div style="float:left">63 грн</div>
                        <div style="float:right">Order</div>   @*~bootstrap pull-left, pull-right*@
                        <div style="clear:left"></div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <div>
                        <h5>Эби Маки</h5>
                        <img src="~/Content/images/2.jpeg" class="img-responsive">
                        <div style="float:left">63 грн</div>
                        <div style="float:right">Order</div>
                        <div style="clear:left"></div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <div>
                        <h5>Эби Маки</h5>
                        <img src="~/Content/images/3.jpeg" class="img-responsive">
                        <div style="float:left">63 грн</div>
                        <div style="float:right">Order</div>
                        <div style="clear:left"></div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <div>
                        <h5>Эби Маки</h5>
                        <img src="~/Content/images/4.jpeg" class="img-responsive">
                        <div style="float:left">63 грн</div>
                        <div style="float:right">Order</div>
                        <div style="clear:left"></div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <div>
                        <h5>Эби Маки</h5>
                        <img src="~/Content/images/5.jpeg" class="img-responsive">
                        <div style="float:left">63 грн</div>  @*~bootstrap pull-left, pull-right*@
                        <div style="float:right">Order</div>
                        <div style="clear:left"></div>
                    </div>
                </div>





            <div id="Soup" class="row">
                <h5>Супы</h5>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    Клер Суп<br>
                    <img src="~/Content/images/soup.jpg">
                    <p>50 грн</p>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    Клер Суп<br>
                    <img src="~/Content/images/soup.jpg">
                    <p>50 грн</p>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    Клер Суп<br>
                    <img src="~/Content/images/soup.jpg">
                    <p>50 грн</p>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    Клер Суп<br>
                    <img src="~/Content/images/soup.jpg">
                    <p>50 грн</p>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    Клер Суп<br>
                    <img src="~/Content/images/soup.jpg">
                    <p>50 грн</p>
                </div>
            </div>
        </div>
    </div>

    <!-- END WRAPPER-->
