<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="StorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=asignarstorage;AccountKey=mcofuaGHHg07z1WKc5qhw9S5Myx7koTPZ4f8sbtzlM/9bGXdVGwzclM7MX/qeZd+uuCB/0rwXvRr0LGRxhmA1w==" />
  </appSettings>
</configuration>